.tech {
  height: 100%;
  min-width: 15rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  .tech-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 0.05ch;
  }
  .tech-description {
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-top: auto;
  }
}
